{% extends 'base/base.html' %}
{% load data_files %}


{% block title %}
 首页面
{% endblock  %}

{% block link %}
 <link rel="stylesheet" href="../../static/css/news/index.css">

{% endblock  %}

{% block main %}

<main id="main">
  <div class="w1200 clearfix" >
    <!-- main-contain start  -->
      {% block main-contain %}
    <div class="main-contain ">
      <!-- banner start -->
        <div class="banner">
            <ul class="pic">
                <!--淡入淡出banner-->

            </ul>
            <a href="javascript:void(0);" class="btn prev">
                <i class="PyWhich py-arrow-left"></i></a>
            <a href="javascript:void(0);" class="btn next">
                <i class="PyWhich py-arrow-right"></i></a>
            <ul class="tab">
                <!-- 按钮数量必须和图片一致 -->








            </ul>
        </div>
      <!-- banner end -->

      <!-- content start -->
      <div class="content">
        <!-- recommend-news start -->
          <ul class="recommend-news">
              {% for i in hot %}
              <li>
                  <a href="{% url 'index:n_detail' i.id %}" target="_blank">
                      <div class="recommend-thumbnail">
                          <img src="{{i.news.image_url}}" alt="title">
                      </div>
                      <p class="info">{{i.news.title}}</p>
                  </a>
              </li>
             {% endfor %}

          </ul>
        <!-- recommend-news end -->

        <!--  news-nav start-->
          <nav class="news-nav">
              <ul class="clearfix">

                  <li class="active"><a href="javascript:void(0);" data-id="0">最新资讯</a></li>
                   {% for i in tags %}
                  <li><a href="javascript:void(0);" data-id="{{i.id}}">{{i.name}}</a>

                  </li>
                 {% endfor %}



              </ul>
          </nav>
        <!--  news-nav end -->

        <!-- news-contain start -->
          <div class="news-contain">
             <ul class="news-list">

</ul>
          </div>
        <!-- news-contain end -->

        <!-- btn-more start -->
        <a href="javascript:void(0);" class="btn-more">加载更多</a>
        <!-- btn-more end -->
      </div>
      <!-- content end -->
    </div>
    <!-- main-contain  end -->
{% endblock %}
    <!-- side start -->
      {% block side %}
      <aside class="side">
          <div class="side-activities">
              <h3 class="activities-title">在线课堂<a href="
bos://888888888888/videoworks/console-upload/531284eb3afd15463e717192e6bd320c.mp4
">更多</a></h3>
              <div class="activities-img">
                  <a href="javascript:void(0);" target="_blank">
                      <video src="
http://kdrdxb00kexev9wg66j.exp.bcevod.com/mda-kdrmkh7bw0vfavr8/mda-kdrmkh7bw0vfavr8.m3u8
" controls="controls" height="180px" width="320px" >        </video>
                      <!--<img src="http://photovideo.photo.qq.com/1074_0b2ekvpwaoygvuaajqmv5npdiviemckama2a.f20.mp4?dis_k=9914d49034c3e32e988c3170ff7f21f7&dis_t=1586772502&vuin=2441497185" alt="title">-->
                  </a>
                  <p class="activities-tips">治愈系漫画(宫骏崎)</p>
              </div>
              <ul class="activities-list">

              </ul>
          </div>
          <div class="side-attention clearfix">
              <h3 class="attention-title">关注我</h3>
              <ul class="side-attention-address">
                  <li>
                      <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-GitHub"></i>longlong</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-zhihu"
                                                                       style="color:rgb(0, 108, 226);"></i>longlong</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-weibo"
                                                                       style="color:rgb(245,92,110);"></i>longlong</a>
                  </li>
              </ul>
              <div class="side-attention-qr">
                  <p>扫码关注</p>
              </div>
          </div>

          <div class="side-hot-recommend">
              <h3 class="hot-recommend">热门推荐</h3>
              <ul class="hot-news-list">
                 {% for i in click %}

                  <li>
                      <a href="{% url 'index:n_detail' i.id %}" class="hot-news-contain clearfix">
                          <div class="hot-news-thumbnail">
                              <img src="{{i.image_url}}"
                                   alt="图片加载失败">
                          </div>
                          <div class="hot-news-content">
                              <p class="hot-news-title">{{i.title}}</p>
                              <div class="hot-news-other clearfix">
                                  <span class="news-type">{{i.tag.name}}</span>
                                  <!-- 自带的 -->
                                  <time class="news-pub-time">{{i.update_time|time_filter}}前</time>
                                  <span class="news-author">{{i.author.username}}</span>
                              </div>
                          </div>
                      </a>
                  </li>
                {% endfor %}
              </ul>


          </div>


      </aside>
      {% endblock  %}
    <!-- side end -->
  </div>

</main>
{% endblock  %}

{% block script %}
<script src="../../static/js/index.js"></script>
{% endblock  %}