{% extends  'base/base.html' %}

{% block title %}
{{title}}
{% endblock  %}

{% block link %}

<link rel="stylesheet" href="../../static/css/base/reset.css">
<link rel="stylesheet" href="../../static/css/authPro/forgot_password.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1425173_vb605ho8r0f.css">

{% endblock  %}

{% block main %}

<main id="container">
  <div class="login-contain">
    <div class="top-contain">
      <h4 class="please-login">找回密码</h4>
      <a href="{% url 'users:check' %}" class="register">修改密码&gt;</a>
    </div>
    <form action="javascript:void(0);" method="post" class="form-contain">
      <div class="form-item">
        <input type="tel" placeholder="请输入手机号" name="telephone" class="form-control" autocomplete="off">
      </div>
         <div class="form-item">
        <input type="text" placeholder="请输入图形验证码" id="input_captcha" name="captcha_graph" class="form-captcha">
        <a href="javascript:void(0);" class="captcha-graph-img">
          <img src="" alt="验证码" title="点击刷新">
        </a>
      </div>
         <div class="form-item">
        <input type="text" placeholder="请输入短信验证码" name="sms_captcha" class="form-captcha" id="input_smscode" autocomplete="off">
        <a href="javascript:void(0);" class="sms-captcha" title="发送验证码">获取短信验证码</a>
      </div>
        <div class="form-item">
        <input type="password" placeholder="请输入新密码" name="ne_password" class="form-control">
      </div>
          <div class="form-item">
        <input type="password" placeholder="请确认新密码" name="for_password" class="form-control">
      </div>
      <div class="form-login">
        <input type="submit" value="确定" class="login-btn">
        <input type="reset" value="重置" class="login-btn">
      </div>

    </form>
  </div>
</main>

{% endblock   %}

{% block script %}
<script src="../../static/js/user/forgot_password.js"></script>
{% endblock     %}



