{% extends  'base/base.html' %}

{% block title %}
{{title}}
{% endblock  %}

{% block link %}

<link rel="stylesheet" href="../../static/css/base/reset.css">
<link rel="stylesheet" href="../../static/css/authPro/auth.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1425173_vb605ho8r0f.css">

{% endblock  %}

{% block main %}

<main id="container">
  <div class="login-contain">
    <div class="top-contain">
      <h4 class="please-login">请登录</h4>
      <a href="{% url 'users:register' %}" class="register">立即注册 &gt;</a>
    </div>
    <form action="" method="post" class="form-contain">
      <div class="form-item">
        <input type="tel" placeholder="请输入手机号或用户名" name="telephone" class="form-control" autocomplete="off">
      </div>
      <div class="form-item">
        <input type="password" placeholder="请输入密码" name="password" class="form-control">
      </div>
      <div class="form-item clearfix">
        <label>
          <input type="checkbox" name="remember">
          <span>记住我</span>
        </label>
        <a href="{% url 'users:check' %}" class="forget-password">忘记密码?</a>
      </div>
      <div class="form-login">
        <input type="submit" value="登录" class="login-btn">
      </div>
      <div class="qq">
            <i class="iconfont icon-QQ" style="font-size:50px;color: blue;padding-top: auto"></i>
            <a href="" class="qq_login">QQ</a>
      </div>
    </form>
  </div>
</main>

{% endblock   %}

{% block script %}
<script src="../../static/js/user/login.js"></script>
{% endblock     %}



