{% extends 'base/base.html' %}
{% block title %}
在线课堂页面
{% endblock   %}

{% block link %}
<link rel="stylesheet" href="../../static/css/course/course.css">
<link rel="stylesheet" href="../../static/css/base/reset.css">
<link rel="stylesheet" href="../../static/css/base/common.css">
{% endblock   %}

{% block main %}

<main id="course-container">
        <div class="w1200">
            <ul class="course-list">
            {%  for i in course %}
                <li class="course-item">
                    <a href="{% url 'video:course_detail' i.id %}">
                        <img class="course-img" src="{{i.cover_url}}"
                            alt="潭州英语">
                        <div class="course-content">
                            <p class="course-info">{{i.title}}</p>
                            <p class="course-author">{{i.teacher.name}}</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
{% endfor %}


            </ul>
        </div>
    </main>
{% endblock   %}


 {% block script %}
 <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="../../static/js/commons.js"></script>
    {% endblock  %}







